﻿@model IndexModel

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>@Html.Label("Please enter any positive Integer")<label class="text-danger">*</label></td>
            <td>@Html.TextBoxFor(m => m.InputData, new { @type = "text" })</td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" class="btn btn-default" />
            </td>
        </tr>
        <tr>
            <td>@Html.ValidationMessageFor(m => m.InputData, "", new { @class = "text-danger" })</td>
        </tr>

    </table>

    @if (Model != null && Model.Messages.Count > 0)
    {
        <h4 class="display-10">Output Message:</h4>
        <ul id="ulMessage" class="two-columns clearfix">
            @foreach (var message in Model.Messages)
            {
                <li>@message</li>
            }
        </ul>

        <table cellpadding="10" cellspacing="0">
            <tr>
                @for (int count = 1; count <= Model.PageCount; count++)
                {
                    <td>
                        @if (count != Model.CurrentPageIndex)
                        {
                            <a href="javascript:PagerClick(@count);">@count</a>
                        }
                        else
                        {
                            <span>@count</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />

        @*<div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination" style="margin-left: 400px">
                    Page @(Model.PageCount < Model.CurrentPageIndex ? 0 : Model.CurrentPageIndex)
                    of @Model.PageCount @Html.PagedListPager((IPagedList<ResultModel>)Model, page => Url.Action("Index", new { page }))
                </div>
            </div>*@

    }
}