﻿@model WebApp.Models.IndexModel
@using X.PagedList; 
@using X.PagedList.Mvc.Core

@{
    Layout = "_Layout";
}

<h4 class="display-10">Result view</h4>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <ul class="two-columns clearfix">
        @foreach (var message in Model.Messages)
        {
            if (message == "Fizz" || message == "Wizz")
            {
                <li><span style="color : blue">@message</span></li>
            }
            else if (message == "Buzz" || message == "Wuzz")
            {
                <li><span style="color : green">@message</span></li>
            }
            else if (message == "FizzBuzz" || message == "WizzWuzz")
            {
                <li><span style="color : blue">Fizz</span><span style="color : green">Buzz</span></li>
            }
            else
            {
                <li>@message</li>
            }
        }
    </ul>

    <table cellpadding="0" cellspacing="0">
        <tr>
            @for (int count = 1; count <= Model.PageCount; count++)
            {
                <td>
                    @if (count != Model.CurrentPageIndex)
                    {
                        <a href="javascript:PagerClick(@count);">@count</a>
                    }
                    else
                    {
                        <span>@count</span>
                    }
                </td>
            }
        </tr>
    </table>
    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />

    @*<div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>
            <div class="pagination" style="margin-left: 400px">
                Page @(Model.PageCount < Model.CurrentPageIndex ? 0 : Model.CurrentPageIndex)
                of @Model.PageCount @Html.PagedListPager((IPagedList<ResultModel>)Model, page => Url.Action("Index", new { page }))
            </div>
        </div>*@
}
